.worksBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #18191d;
    border-top: 1px solid white;
    .worksContainer {
        flex-direction: column;
        justify-content: flex-start;
        .title h2 {
            font-family: 'Syne', sans-serif;
            color: #fff;
            font-weight: 800;
            font-size: 40px;
        }
        .works {
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 1020px) {
                    justify-content: center;
            }
        }
    }
}




//@media screen and (max-width: 999px) {
//    .works {
//        justify-content: center;
//    }
//}



