.skillsBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #18191d;
  min-height: 100%;
  border-top: 1px solid white;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title h2 {
      font-family: 'Syne', sans-serif;
      color: #fff;
      font-weight: 800;
      font-size: 40px;
    }

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 624px) {
        justify-content: center;
      }
    }
  }
}







