@import './src/common/styles/sass/variables.scss';

.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-top: 10vh;
    background-color: $bgColor;
    .mainContainer{
        @media screen and (max-width: 1088px) {
            justify-content: center;
        }
        .text {
            width: 500px;
            display: flex;
            flex-direction: column;
            padding: 10px 0 10px 20px;
            @media screen and (max-width: 600px) {
                width: 100%
            }
            h1 {
                color: #fff;
                font-weight: 800;
                font-size: 50px;
                margin: 0;
                margin-bottom: 10px;
                @media screen and (max-width: 600px) {
                    font-size: 32px;
                }
            }
            span {
                margin-bottom: 0;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 20px;
                letter-spacing: 2px
            }
            p {
                padding: 30px 0;
                font-size: 16px;
                font-weight: 400
            }
        }
        .photo {
            height: 455px;
            width: 350px;
            background-color: #FFF;
            background-position: center;
            background-size: cover;
            @media screen and (max-width: 500px) {
                height: 350px;
                width: 270px;
            }
        }
    }
}










/*.text h1 {*/
/*    font-family: 'Syne', sans-serif;*/
/*}*/