.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #18191d;
}

@media screen and (max-width: 749px) {
    .mainContainer {
        justify-content: center;
    }
}

.text {
    width: 300px;
    background-color: #bfef6e;
}

.photo {
    height: 400px;
    width: 300px;
    background-color: #bfef6e;
}

/*.text h1 {*/
/*    font-family: 'Syne', sans-serif;*/
/*}*/