.contactsBlock {
    height: 100vh;
    background-color: #b8a0ea;
}

.contactsContainer {
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background-color: #f6f617;
}

.contacts {
    /*border: 3px solid;*/
    width: 70%;
    height: 50%;
    background-color: #d56e6e;
}

.formContacts {
    height: 100%;
    padding: 0 12px;
    background-color: #9954da;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}