@import './src/common/styles/sass/variables';

.contactsBlock {
    position: relative;
    height: 100vh;
    background-image: url(banner.jpg);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    .contactsContainer {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        .contacts {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 70%;
            height: 70%;
            @media screen and (max-width: 800px) {
                width: 90%;
            }
        }
        .title h2 {
            font-weight: 800;
            color: #FFF;
            font-size: 40px;
        }
    }
}