@import './src/common/styles/sass/variables';

.footerBlock {
    position: relative;
    background: rgb(33, 34, 40);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    .footerContainer {
        min-height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        .title h2 {
            font-weight: 800;
            color: #FFF;
        }
        .itemsContainer {
            width: 30%;
            min-height: 55px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (max-width: 1000px) {
                width: 50%;
            }
            @media screen and (max-width: 600px) {
                width: 90%;
            }
            .item {
                cursor: pointer;
                &:hover{
                    svg path {
                        transition: 0.5s;
                        fill: #868a9b;
                    }
                }
            }
            .item svg path{
                fill: white;
            }
        }
    }
}










